<!DOCTYPE HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    </head>
    <body>
        <div>
            <h1> Yo! Welcome to my project site Fool! </h1>
                <p> pick a project that tickles your fancy! </p>
         </div>
         <div  id="scriptKid">
            <ul>
                <li> <img src= {{img}} /> <a href = {{link}} > {{text}} </a> </li>
            </ul>

       </div>
        <script id="generator" src="generator.js"> </script>
    </body>

</html>
